<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TimeOffset" value="0" />
    <!--local
    <add key="Cnn" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ArbitradorGDAL;Integrated Security=SSPI;" />
    -->
    <!--Azure
    <add key="Cnn" value="Server=tcp:martinmasella.database.windows.net,1433;Initial Catalog=ArbitradorGDAL;Persist Security Info=False;User ID=martinmasella;Password=Benicio0612;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Language=Spanish;" />
    -->
    <!--AWS
    -->

    <add key="Cnn" value="Server=18.228.214.176;Initial Catalog=ArbitradorGDAL;Persist Security Info=False;User ID=martinmasella;Password=Benicio061219;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;Language=Spanish;" />
	<add key="Intentos" value="40" />
	<add key="BandaSuperior" value="2" />
	<add key="BandaInferior" value="5" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>